:root {
  --dark: #333;
  --light: #fff;
  --surface: #999;
}

body {
  background-color: var(--dark);
  color: var(--light);
  font-family: system-ui, -apple-system;
  margin: 0;
}

.dice-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  gap: 12px;
  padding: 16px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.card {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);
  border-radius: 12px;
  color: var(--dark);
}

.card > div {
  display: flex;
  flex-direction: row;
}

.dice {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  justify-content: center;
}

.die {
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
}

.die-number-cat .die-number {
  opacity: 0;
}

.die-number-cat .cat {
  opacity: 1;
}

.dice svg path,
.dice svg rect,
button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.die-number-cat svg path,
.die-number-cat svg rect {
  cursor: not-allowed;
}
.die svg rect:first-of-type,
.die svg path:first-of-type {
  transition: all 0.3s ease;
  stroke: transparent;
  paint-order: stroke;
  stroke: transparent;
  stroke-width: 4px;
}

.die.selected svg rect:first-of-type,
.die.selected svg path:first-of-type {
  stroke-width: 12px;
  stroke: white;
}

.die.rolling {
  animation: die-roll 0.5s linear infinite;
}

.die.rolling .die-number,
.die.rolling .cat {
  opacity: 0;
}

.cat {
  width: 26px;
  opacity: 0;
}
.die .die-number {
  font-size: 18px;
  font-weight: 700;
  z-index: 10;
  position: absolute;
  color: black;
  pointer-events: none;
}
.die .die-number,
.die .cat {
  transition: all 0.3s ease;
}
.die.d20 .die-number {
  font-size: 14px;
}
.die.d20 .cat {
  width: 20px;
}
.die.d6 .die-number {
  font-size: 24px;
}
.die.d6 .cat {
  width: 40px;
}
.die.d4 .die-number,
.die.d4 .cat {
  translate: 0 6px;
}

#d6 .die-number .die svg {
  width: 100%;
}

.controls {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.controls button[disabled] {
  opacity: 0.4;
}

.cat-body {
  fill: currentColor;
}

.cat-whisker {
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

.hidden {
  display: none;
}

@keyframes die-roll {
  0% {
    transform: rotateX(0) translateY(0);
  }
  25% {
    transform: rotateX(20deg) translateY(-3px);
  }
  50% {
    transform: rotateX(0) translateY(0);
  }
  75% {
    transform: rotateX(-20deg) translateY(3px);
  }
  100% {
    transform: rotateX(0) translateY(0);
  }
}
